$primary: #665555;
$styled-font: "La Belle Aurore";
$imported-font-2: "Lato Regular";
$button-dimensions: 4rem;
$button-colors: (
    "default": #669241,
    "hover": #669241ec,
    "active": #4d5c40ec
);
$image-dimensions: (
    "small": 3em,
    "medium": 4.5em,
    "large": 5em
);

